{% extends "superadmin/index.html"%}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{%block Content%}
<div class="sidebar" id="sidebar">
    <h4>Aman<br>Technologies</h4>
    <a href="{% url 'index'%}" class="active"><b>🏠 Home</b></a>
    <a href="{% url 'about'%}"><b>ℹ️ About</b></a>
    <a href="{% url 'Department_view'%}"><b>🏠 Departments </b></a>
    <a href="{% url 'subadmins'%}"><b>👤 Sub Admins</b></a>
    <a href="{% url 'students'%}"><b>👤 Students</b></a>
    <a href="{% url 'studentresult'%}"><b>📊 Results</b></a>
    <a href="{% url 'adminprofile'%}"><b>👤 Admin Profile</b></a>
</div>

<!-- Main Content -->
<div class="main">
    
    <!-- Topbar -->
    <div class="topbar mb-4">
        <button class="btn btn-outline-primary d-md-none" onclick="toggleSidebar()">☰</button>
        <h2>Hi, Admin..! Welcome to the Dashboard</h2>
        <a href="{% url 'adminlogin'%}" class="btn btn-danger"><b>Logout</b></a>
    </div>

    <!-- Welcome -->
    <h4 class="fw-bold mb-4 text-secondary">
        Welcome to the Admin Dashboard
    </h4>

</div>
{%endblock%}
