{% extends "superadmin/index.html"%}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{%block Content%}
<div class="sidebar" id="sidebar">
    <div class="brand1"> <img src="{% static 'images/tgpcete.jpg' %}" class="img-fluid hero-img mb-3" width="150"></div>  
    <a href="{% url 'index'%}" class="active"><b>🏠 Home</b></a>
    <a href="{% url 'about'%}"><b>ℹ️ About</b></a>
    <a href="{% url 'Department_view'%}"><b>🏠 Departments </b></a>
    <a href="{% url 'subadmins'%}"><b>👤 Sub Admins</b></a>
    <a href="{% url 'students'%}"><b>👤 Students</b></a>
    <a href="{% url 'studentresult'%}"><b>📊 Results</b></a>
    <a href="{% url 'adminprofile'%}"><b>👤 Admin Profile</b></a>
</div>

<!-- Main Content -->
<div class="main">
    
    <!-- Topbar -->
    <div class="topbar mb-4">
        <button class="btn btn-outline-primary d-md-none" onclick="toggleSidebar()">☰</button>
        <h2>Hi, Admin..! Welcome to the Dashboard</h2>
        <a href="{% url 'adminlogout'%}" class="btn btn-danger"><b>Logout</b></a>
    </div>

    <!-- Welcome -->
    <h4 class="fw-bold mb-4 text-secondary">
        Welcome to the Admin Dashboard
    </h4>

    
    
    
        <h3 class="mb-4 text-center">
            Department Wise Results
        </h3>
    
        <div class="row">
    
            {% for dept in departments %}
    
            <div class="col-md-4 mb-4">
                <div class="card shadow-lg border-0 h-100">
    
                    <div class="card-body text-center">
    
                        <h5 class="card-title">
                            {{ dept.Deptname }}
                        </h5>
    
                        <p class="text-muted">
                            Total Results :
                            <b>{{ dept.result_count }}</b>
                        </p>
    
                        <a href="#"
                           class="btn btn-primary">
                            View Results
                        </a>
    
                    </div>
    
                </div>
            </div>
    
            {% empty %}
                <h5 class="text-center text-danger">
                    No Department Results Available
                </h5>
            {% endfor %}
    
        </div>
        
    {% endblock %}
    {% comment %} {% url 'view_department_result' dept.id %} {% endcomment %}