{% extends "superadmin/index.html"%}
{% load static %}

{% block title %}Admin Dashboard{% endblock %}

{%block Content%}
<div class="sidebar" id="sidebar">
    <h4>Aman<br>Technologies</h4>
    <a href="{% url 'index'%}" class="active"><b>🏠 Home</b></a>
    <a href="{% url 'about' %}"><b>ℹ️ About</b></a>
    <a href="{% url 'Department_view'%}"><b>🏠 Departments </b></a>
    <a href="{% url 'subadmins'%}"><b>👤 Sub Admins</b></a>
    <a href="{% url 'students'%}"><b>👤 Students</b></a>
    <a href="{% url 'studentresult'%}"><b>📊 Results</b></a>
    <a href="{% url 'adminprofile'%}"><b>👤 Admin Profile</b></a>
</div>

<!-- Main Content -->
<div class="main">
    
    <!-- Topbar -->
    <div class="topbar mb-4">
        <button class="btn btn-outline-primary d-md-none" onclick="toggleSidebar()">☰</button>
        <h2>Hi, Admin..! Welcome to the Dashboard</h2>
        <a href="{% url 'adminlogin'%}" class="btn btn-danger"><b>Logout</b></a>
    </div>

    <!-- Welcome -->
    <h4 class="fw-bold mb-4 text-secondary">
    CREATE AND MANAGE SUBADMINS    
    </h4>

    <div class="mb-4">
        <button type="button" style="background: linear-gradient(90deg, #6f74dd,rgb(90, 29, 204))" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myFormModal">
            <b>CREATE NEW SUBADMIN</b>
        </button>
    </div>

    <form method="GET">
        <div class="row">
            <div class="col-md-8">
                <input type="text" name="query" class="form-control"
                       placeholder=" FirstName / LastName / Email / MobileNo. / Department / Role "
                       value="{{ query }}">
            </div>

            <div class="col-md-4 d-flex mb-2">
                <button class="btn"
                        style="background: linear-gradient(90deg, #6f74dd,rgb(90, 29, 204)); color:white; border:none; padding:7px 20px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                    </svg>
                </button>
            </div>
            <div class="col-md-4 d-flex ms-2 mb-2">
                <button class="btn"
                a href="#"  style="background: linear-gradient(90deg, #6f74dd,rgb(90, 29, 204)); color:white; border:none; padding:7px 20px;">
                    Export CSV
                </button>
            </div>
        </div>
    </form>


    <!-- Button to trigger the modal -->
  {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myFormModal">
    Open Form Modal
  </button> {% endcomment %}

  <!-- The Modal Placeholder -->
  <div class="modal fade" id="myFormModal" tabindex="-1" aria-labelledby="myFormModalLabel" aria-hidden="true">
     <div class="modal-dialog">
          <div class="modal-content">
                <!-- The form content will be loaded here dynamically or included directly -->
      
             <form method="POST" action="{% url 'subadminreg' %}" style="padding:25px; border-radius:5px; background:white; box-shadow:0px 0px 10px #ddd;">
                 {% csrf_token %}
    
                 <div class="mb-3">
                     <label class="form-label"><b>First Name</b></label>
                     <input type="text" name="Subadminfirstname" class="form-control" placeholder="Enter SubAdmins First Name" required>
                 </div>
    
                 <div class="mb-3">
                     <label class="form-label"><b>Last Name</b></label>
                     <input type="text" name="Subadminlastname" class="form-control" placeholder="Enter SubAdmins Last Name" required>
                 </div>
    
                 <div class="mb-3">
                     <label class="form-label"><b>Email</b></label>
                     <input type="Email" name="Subadminemail" class="form-control" placeholder="Enter SubAdmins Email" required>
                 </div>
    
                 <div class="mb-3">
                     <label class="form-label"><b>Mobile No.</b></label>
                     <input type="text" name="Subadminmobile" class="form-control" placeholder="Enter SubAdmins Mobile No." required>
                 </div>

                 <div class="mb-3">
                    <label class="form-label"><b>Password</b></label>
                    <input type="Password" name="Subadminpassword" class="form-control" placeholder="Enter SubAdmins Password" required>
                 </div>
    
         
                 <div class="mb-3">
                    <label class="form-label"><b>Department</b></label>
                    <select name="Department" class="form-control" required>
                        <option value="">-- Select Department --</option>
                        {% for deptss in depts %}
                            <option value="{{ deptss.id }}">{{ deptss.Deptname }}</option>
                        {% endfor %}
                    </select>
                 </div> 
                 {% comment %} <div class="mb-3">
                    <label class="form-label"><b>Department</b></label>
                    <input 
                        type="text" 
                        name="Department" 
                        class="form-control" 
                        placeholder="Enter Department Code"
                        required
                    >
                </div> {% endcomment %}
                
         
                 <div class="d-grid mt-4">
                     <button type="submit" class="btn btn-primary"><b>ADD SUBADMIN</b></button>
                 </div>
                </form>
         </div>
      </div>
  </div>
    
    <div class="container mt-4">

      <div class="container mt-4">
          <div class="card"
               style="padding:25px; border-radius:5px; background:white; box-shadow:0px 0px 10px #ddd;">
               <div class="table-responsive">
                 <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Subadmin First Name</th>
                        <th>Subadmin Last Name </th>
                        <th>Subadmin Department</th>
                        <th>Action</th>
                    </tr>
                </thead>
            
                <tbody>
                      {% for sub in subs %}  
                    <tr>
                        <td>{{sub.Subadminfirstname }}</td>
                        <td>{{sub.Subadminlastname}}</td>
                        <td>{{sub.Department.Deptcode}}</td>
                        <td><div class="mb-3">
                           <a href="{% url 'updatesubadmins' sub.id %}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                               <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                             </svg>
                           </a>
                        </div>
                         {% comment %} <div> 
                           <a href="#" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                               <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                               <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                             </svg></a>
                         </div> {% endcomment %}
                        </td>
                      {% endfor %}  
                </tbody>
            </table>
        </div>
          </div>
      </div>     
    </div>
</div>
<script src="cdn.jsdelivr.net" integrity="..." crossorigin="anonymous"></script>
{%endblock%}
