{% extends "subadmin/subadmindashboard.html"%}
{% load static %}
{% comment %} <h1>ADMIN PAGE</h1> {% endcomment %}


<title>{% block title%}SubAdmin Dashboard{% endblock title%}</title>


{%block Content%}
        <div class="sidebar" id="sidebar">
            <div class="brand1"> <img src="{% static 'images/tgpcete.jpg' %}" class="img-fluid hero-img mb-3" width="150"></div>
            <a href="{% url 'subadmindashboard' %}" class="active">🏠 Home</a>
            <a href="{% url 'subject_test_creation' %}"><b>📘 Subject</b></a>
            {% comment %} <a href="#"><b>📊 Test </b></a> {% endcomment %}
            <a href="{% url 'deptstudent' %}"><b>👤 Students</b></a>
            <a href="{% url 'result_view'%}"><b>📊 Results</b></a>
            <a href="{% url 'subadminprofile' %}"><b>👤 SubAdmin Profile</b></a>
        </div>

        <!-- Main Content -->
        <div class="main">
            
            <!-- Topbar -->
            <div class="topbar mb-4">
                <button class="btn btn-outline-primary d-md-none" onclick="toggleSidebar()">☰</button>
                <h2>Hi, SubAdmin..! Welcome to the Department Dashboard</h2>
                <a href="{% url 'subadminlogout'%}" class="btn btn-danger"><b>Logout</b></a>
            </div>
        
            <!-- Welcome -->
            <h4 class="fw-bold mb-4 text-secondary">
                DEPARTMENT STUDENTS DETAILS
            </h4>
            


            <div class="container mt-4">
                <div class="card"
                    style="padding:25px; border-radius:5px; background:white; box-shadow:0px 0px 10px #ddd;">
            
                     <table class="table table-bordered">
                         <thead>
                             <tr>
                                 <th>Students User Name</th>
                                 <th>Students Email </th>
                                 <th>Students Roll No.</th>
                                 <th>Students Department</th>
                                 <th>Students Mobile No.</th>
                                 <th>Action</th>
                             </tr>
                         </thead>
                     
                         <tbody>
                               {% for st in students %}  
                             <tr>
                                 <td>{{st.username }}</td>
                                 <td>{{st.mail}}</td>
                                 <td>{{st.RollNo}}</td>
                                 <td>{{st.Department.Deptcode}}</td>
                                 <td>{{st.MobileNo}}</td>
                                 <td><div class="mb-3">
                                    <a href="{% url 'updstu' st.id %}" class="btn btn-danger"><b>Edit </b></a>
                                 </div>
                                 </td>
                               {% endfor %}
                         </tbody>
                     </table>
                  </div>
              </div>
           </div>
            
        </div>


{%endblock%}
