{% extends "subadmin/subadmindashboard.html"%}
{% load static %}


<title>{% block title%}SubAdmin Dashboard{% endblock title%}</title>


{%block Content%}
<div class="sidebar" id="sidebar">
    <div class="brand1"> <img src="{% static 'images/tgpcete.jpg' %}" class="img-fluid hero-img mb-3" width="150"></div>
    <a href="{% url 'subadmindashboard' %}" class="active">🏠 Home</a>
    <a href="{% url 'subject_test_creation' %}"><b>📘 Subject</b></a> 
    {% comment %} <a href="#"><b>📊 Test </b></a> {% endcomment %}
    <a href="{% url 'deptstudent' %}"><b>👤 Students</b></a>
    <a href="{% url 'result_view'%}"><b>📊 Results</b></a>
    <a href="{% url 'subadminprofile' %}"><b>👤 SubAdmin Profile</b></a>
</div>

<!-- Main Content -->
<div class="main">
    
    <!-- Topbar -->
    <div class="topbar mb-4">
        <button class="btn btn-outline-primary d-md-none" onclick="toggleSidebar()">☰</button>
        <h2>Hi, SubAdmin..! Welcome to the Department Dashboard</h2>
        <a href="{% url 'subadminlogout'%}" class="btn btn-danger"><b>Logout</b></a>
    </div>

    <!-- Welcome -->
  <h4 class="fw-bold mb-4 text-secondary">
      Welcome to the SubAdmin Dashboard
  </h4>



    <div class="container mt-4">
        <div class="card"
            style="padding:25px; border-radius:5px; background:white; box-shadow:0px 0px 10px #ddd;">

    <form method="POST" action="{% url 'upload_question' test.id %}">
        {% csrf_token %}

        <div class="mb-2">
            <textarea name="question_text"
                      class="form-control"
                      placeholder="Question"
                      required></textarea>
        </div>

        <input class="form-control mb-2" name="option_a" placeholder="Option A" required>
        <input class="form-control mb-2" name="option_b" placeholder="Option B" required>
        <input class="form-control mb-2" name="option_c" placeholder="Option C" required>
        <input class="form-control mb-2" name="option_d" placeholder="Option D" required>

        <select name="correct_option" class="form-control mb-2" required>
            <option value="">Select Correct Option</option>
            <option value="A">Option A</option>
            <option value="B">Option B</option>
            <option value="C">Option C</option>
            <option value="D">Option D</option>
        </select>

        <input class="form-control mb-3"
               type="number"
               name="marks"
               value="1"
               min="1">

        <button class="btn btn-primary">
            Save Question
        </button>
        
        <button class="btn btn-secondary" formaction="{% url 'subject_test_creation' %}">"
            Back to Dashboard
        </button>
    </form>
</div>
</div>

{% endblock %}
